<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card bg-light text-center mx-auto" style="width: 50%">
    <div class="card-header">
        <h1 id="game-title">Welcome to Guess the Number Game</h1>
    </div>
    <div class="card-body">
        <h2 id="welcome-dashboard"></h2>
        <h3>
            <a id="play-game" href="play.html">Click to play</a>
        </h3>
    </div>
    <div class="card-footer text-muted">
        <div id="footerId">Informatii footer</div>
    </div>
</div>
</body>
</html>