<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card bg-light text-center mx-auto" style="width: 50%" >
    <div class="card-header" >
    <h1 id="game-title">Guess the Number Game</h1>
    </div>
    <div class="card-body" >
        <h4 id="please-register">Please register</h4>
    <form method="post" action="/register-action">
        <div class="form-group">
            <label id="nameLabel" for="name">Name</label>
            <input type="text" required name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label id="emailLabel" for="email">Email address</label>
            <input type="email" required name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label id="setPassword" for="password">Password</label>
            <input type="password" required name="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label id="confirmPassword" for="password2">Password</label>
            <input type="password" required name="password2" class="form-control" id="password2">
        </div>
        <p th:text="${errorPassword} ? #{game.error.password}"></p>
        <p th:text="${errorEmail} ? #{game.error.email}"></p>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="card-footer text-muted">
    <div id="footerId">Informatii footer</div>
    </div>
</div>
</body>
</html>